{% extends "base.html" %}
{% load staticfiles %}

{% block title %}sballe.dk{% endblock %}

{% block content %}
    <div class="intro" id="top">
        {% for text in context.text %}
            {% if text.title == 'title' %}
                <h1 class="site-name">{{ text.text }}</h1>
            {% endif %}
        {% endfor %}
        <img class="photo" src="{% static 'core/img/profile.png' %}">
    </div>

    <div id="tm-section-2" class="tm-section">
        <div class="tm-container tm-container-wide">
        <!-- About -->
            <div class="tm-news-item" id="section-about">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-item-img-container">
                    <img src="{% static 'core/img/aalborg-1024x685.jpg' %}" alt="Image"
                         class="img-fluid tm-news-item-img">
                    <!-- source: https://www.applusbilsyn.dk/media/com_reditem/images/customfield/270/priser-i-aalborg.jpg -->
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-container">
                    <h2 class="tm-news-title dark-gray-text">Who am I?</h2>
                    {% for text in context.text %}
                        {% if text.title == 'intro' %}
                            <p class="tm-news-text">{{ text.text }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- interests -->
            <div class="tm-news-item" id="section-interests">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 flex-order-2 tm-news-item-img-container">
                    <img src="{% static 'core/img/mixedicons.png' %}" alt="Image" class="img-fluid tm-news-item-img">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-container flex-order-1">
                    <h2 class="tm-news-title dark-gray-text">Interests</h2>
                    {% for text in context.text %}
                        {% if text.title == 'interests' %}
                            <p class="tm-news-text">{{ text.text }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!-- Current -->
            <div class="tm-news-item" id="section-occupation-present">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-item-img-container">
                    <img src="{% static 'core/img/code-1839406_640.jpg' %}" alt="Image"
                         class="img-fluid tm-news-item-img">
                    <!-- source: https://pixabay.com/en/code-code-editor-coding-computer-1839406/ -->
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-container">
                    <h2 class="tm-news-title dark-gray-text">What I'm currently doing</h2>
                    <ul class="list-style">
                        {% for project in context.project %}
                            {% if project.active == True %}
                                {% if project.url != "" %}
                                    <li><a href="{{ project.url }}">{{ project.desc }}</a></li>
                                {% else %}
                                    <li>{{ project.desc }}</li>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <!-- Past -->
            <div class="tm-news-item" id="section-occupation-past">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-container">
                    <h2 class="tm-news-title dark-gray-text">Past projects</h2>
                    <ul class="list-style">
                        <table class="table">
                            <tbody>
                            {% for project in context.project %}
                                {% if project.active == False %}
                                    {% if project.url != "" %}
                                        <tr>
                                            <td><a href="{{ project.url }}">{{ project.desc }}</a></td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td>{{ project.desc }}</td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>


                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-item-img-container">
                    <img src="{% static 'core/img/book-283251_640.jpg' %}" alt="Image"
                         class="img-fluid tm-news-item-img">
                    <!-- source: https://pixabay.com/en/book-library-education-knowledge-283251/ -->
                </div>
            </div>
            <!-- Links -->
            <div class="tm-news-item" id="section-occupation">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-item-img-container">
                    <img src="{% static 'core/img/chain-109302_640.jpg' %}" alt="Image"
                         class="img-fluid tm-news-item-img">
                    <!-- source: https://pixabay.com/en/chain-chains-iron-hard-metal-link-109302/ -->
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-news-container">
                    <h2 class="tm-news-title dark-gray-text">Catch me on</h2>
                    <ul class="list-style">
                        <li><a href="https://github.com/srenballe">Github</a></li>
                        <li><a href="https://www.linkedin.com/in/srenballe/">LinkedIn</a></li>
                        <li><a href="https://twitter.com/srenballedk">Twitter</a></li>
                        <li><a href="https://mastodon.social/web/accounts/257589">Mastodon</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>


{% endblock %}